
.bg-red{
    background-color: #D6272D;
}

.white {
    color: #110101;
}

.bg-blue {
    background-color: #d62d2d;
}

.blue {
    color: #020202;
}

.bg-yellow {
    background-color: #bebc20;
}

.yellow {
    color: #bebc20;
}

.bg-black {
    background-color: #201e1e;
}

.black {
    color: #201e1e;
}

.bg-gray {
    background-color: rgb(31, 28, 28);
}

.gray {
    color: #555;
}

.bg-gray-light {
    background-color: rgb(22, 14, 14);
}

.gray-light {
    color: rgb(2, 2, 2);
}

.borda-azul {
    border: solid 1px #5353f8;
}