@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}


header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.logo img{
    width: 150px;
}


header span{
    color: rgb(7, 7, 7);
}

.material-icons:hover{
    color: rgb(2, 2, 2);
     transform: scale(1.5);
     transition: 0.3s;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
}
.logo p{
    font-size: 25px;
    padding-left: 10px;
    color: #FFFFFF;
   
   
}
.card-body span{
    color: rgb(13, 14, 13);
}

.navbar{
    padding: 15px 0;
}



.nav-item{
    margin-left: 10px;
    
}

/*section--------*/



.imgBG1, .imgBG2, .imgBG3{
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.imgBG1{
    background-image: url(@/assets/imagens/banner1.jpg);
}
.imgBG2{
    background-image: url(@/assets/imagens/banner2.jpg);
}
.imgBG3{
    background-image: url(@/assets/imagens/banner3.jpg);
}


/*navegacao header*/
.login{
    margin-right: 100px;
   
}

nav ul{
    display: flex;
    list-style: none;
    
}

nav ul li{
    margin-left: 10px;
}


nav ul li a{
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 0 20px;
    color: #1b1919;  
    
}

nav ul li a:hover{
    color: rgb(8, 8, 8);
    transition: 0.2s;
}

nav .nav-link:hover{
    background-color: rgb(206, 87, 87);
    border-radius: 3px;
}

/*seção propaganda----------------*/
.menu-propaganda{
    color: #000000;
}

.imagem-propaganda{
    width: 300px;
    padding-top: 40px;
}

/*----seçao cardapio------*/

.menu-text{
    color: #ffffff;
}






/*section galeria */
#galeria img{
    border: 1px solid black;
    width: 100%;
}



#galeria h1{
    color: white;
}

/*seção sobre */

 




/*area de contato -----------*/

#contato{
    border-top: 1px solid black;
}

/*--------footer*/
footer{
    border: 1px solid black;
    font-size: 0.9em;
    background-color: #121619;
}

footer ul li{
    list-style: none;
}

footer li, a, h4{
    color: #FFFFFF;
}

footer h4 {
    font-size: 0.9em;
    font-weight: bold;
}

.noLink{
    text-decoration: none;
    color: inherit;
}

.listLink{
    text-decoration: none;
    list-style: none;
    
}